<% if (!index && theme.config.toc && post.toc) { %>
<aside
  class="sidebar sidebar-toc collapse <% if(theme.config.autoUnfold){%> in <%}%>"
  id="collapseToc"
  itemscope
  itemtype="http://schema.org/WPSideBar"
>
  <div class="slimContent">
    <nav id="toc" class="article-toc">
      <h3 class="toc-title"><%= __('article.catalogue') %></h3>
      <%- toc(post.content) %>
    </nav>
  </div>
</aside>

<script>
  // 移动端不显示菜单
  if (
    navigator.userAgent.match(
      /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
    )
  ) {
    let self = document.querySelector(".sidebar-toc");
    var parent = self.parentElement;
    parent.removeChild(self);
  } else {
  }
</script>

<% } %>
